body {
    height: 100vh;
    background-color: var(--dark);
    overflow-x: hidden;
    overflow-y: hidden;
}

#header {
    height: 6.5vh;
    margin: 7.5px 10px 10px 10px;
    padding: 2.5px;
    border-radius: 10px;
    background-color: var(--grey);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.headerBranding {
    display: flex;
    align-items: center;
}

.headerIcon {
    height: 5vh;
    width: 5vh;
    margin: 10px 15px;
}

.headerTitle {
    font-size: 20px;
    color: white;
}

.headerAddServerButton {
    margin-right: 15px;
}

#serverInfo {
    height: 25vh;
    background-color: var(--dark);
}

#serverConsole {
    height: 67vh;
    background-color: var(--dark);
}

.addServerGui {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.addServerGuiContent {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.addServerGuiContent .title {
    color: var(--green);
}

.addServerGuiContent .addButton {
    width: 110px;
    height: 27.5px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0px;
    display: flex;
}

.addServerGuiContent .addButtonIcon {
    height: 20px;
    height: 20px;
    margin: 2.5px 2.5px;
    color: var(--green);
}

.addServerGuiContent .closeButton {
    position: relative;
    top: 10px;
    right: 10px;
    width: 22.5px;
    height: 22.5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.addServerGuiContent .closeButtonIcon {
    height: 20px;
    height: 20px;
    color: var(--red);
}