body {
    height: 100vh;
    background-color: var(--dark);
    overflow-x: hidden;
    overflow-y: hidden;
}

#header {
    height: 6.5vh;
    margin: 2.5vh 2vh 1vh 2vh;
    padding: 2.5px;
    border-radius: 10px;
    background-color: var(--grey);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.headerBranding {
    display: flex;
    align-items: center;
}

.headerIcon {
    height: 5vh;
    width: 5vh;
    margin: 0px 10px 0px 15px;
}

.headerTitle {
    font-size: 20px;
    color: white;
}

#serverInfo {
    display: flex;
    height: 25vh;
}

#serverConsole {
    height: 57vh;
}

.addServerGui {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.addServerGuiContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    background-color: var(--light);
    padding: 5px;
    border-radius: 7.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.addServerGuiContentTitlebar {
    display: flex;
    flex-direction: row;
}

.addServerGuiContent .title {
    position: relative;
    top: 10px;
    margin: 15px 0px 20px 0px;
    color: var(--green);
}

.addServerGuiContent .closeButton {
    position: absolute;
    display: flex;
    align-self: flex-end;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    outline: none;
    border: 2px solid var(--red);
    border-radius: 3.5px;
    opacity: 100%;
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}

.addServerGuiContent .closeButtonIcon {
    height: 20px;
    width: 20px;
    fill: var(--grey);
    stroke: var(--grey);
    stroke-width: 5px;
    background-color: transparent;
    transition-duration: 300ms;
}

.addServerGuiContent .closeButton:hover {
    cursor: pointer;
    background-color: transparent;
    transition-duration: 300ms;
}

.addServerGuiContent .closeButton:hover .closeButtonIcon {
    fill: var(--red);
    transition-duration: 300ms;
}

.addServerGuiContent .input {
    width: 250px;
    height: 25px;
    margin: 15px 15px 0px 15px;
    padding: 2.5px 5px 2.5px 5px;
    color: white;
    background-color: var(--dark);
    border: 2px solid var(--dark);
    outline: none;
    border-radius: 5px;
    transition-duration: 250ms;
}

.addServerGuiContent .input:focus {
    border: 2px solid var(--blurple);
    transition-duration: 250ms;
}

.addServerGuiContent .addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 35px;
    padding: 2px;
    margin: 20px 15px 15px 15px;
    font-size: 16.5px;
    outline: none;
    background-color: var(--green);
    color: var(--grey);
    border: 2px solid var(--green);
    border-radius: 5px;
    color: var(--grey);
}

.addServerGuiContent .addButton:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--green);
    transition-duration: 300ms;
}