.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 25vh;
    margin: 2vh 0vh 2vh 2vh;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grey);
}

.info .title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}