<div id="passwordGui" class="passwordGui">
    <div id="passwordGuiContent" class="passwordGuiContent">
        <h2 class="title">Enter Password</h2>
        <p class="info">Please enter your server password<br>(configured as ENV $PASSWORD)</p>
        <input type="password" id="passwordInput" class="input" placeholder="Server Password">
        <div class="checkboxWrapper">
            <input type="checkbox" name="savePassword" id="savePasswordInput" class="checkbox">
            <label for="savePassword">Save Password</label>
        </div>
        <button class="passwordButton" onclick="setupPassword()">Connect</button>
    </div>
</div>