.whitelist {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 25vh;
    margin: 2vh 1vh 2vh 1vh;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grey);
    overflow-y: auto;
}

.whitelist .title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}