:root {
    --dark: #202225;
    --grey: #2F3136;
    --light: #36393F;
    --elight: #B9BBBE;
    --text: #72767D;

    --blurple: #5865F2;
    --green: #57F287;
    --yellow: #FEE75C;
    --fuchsia: #EB459E;
    --red: #da373c;
    --valorant-red: #fa4454;

    --white: #FFFFFF;
    --black: #000000;
}